<h1>Wishlists</h1>

<p>
C'e' una stella su nel ciel<br/>
che ogni sogno puo avverar<br/>
e la gioia piu serena sa portar<br/>
e se lei tu schiudi il cuor<br/>
con fiducia con amor<br/>
quella stella su nel ciel<br/>
ti ascoltera'</p>


<%= link_to 'My Wishlists' , controller: 'wishlist' %>
<%= link_to 'Start wishing', new_wishlist_path %>