// Place all the styles related to the Item controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$item_image_size: 80px;

.list-group .list-group-item .row-picture img {
    width  : $item_image_size;
    height : $item_image_size;
}

.list-group .list-group-item .row-content {
    width: calc(100% - 99px);
}