<div class="row">
    <div class="col-xs-12">
        <h1>Wishlists</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="list-group">
        <% @wishlists.each do |wishlist| %>
        <div class="row-content">
        
            <a href="<%= wishlist_path(wishlist) %>">
                <h4 class="list-group-item-heading"><%= wishlist.title %></h4>
            </a>
            <p class="list-group-item-text">
                <span class="badge"><%= wishlist.description %></span>
            </p>
        </div>
        <% end %>
        </div>
    </div>
</div>