<div class="row">
    <div class="col-xs-12">
        <h1>Wishlists</h1>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
        <% @wishlists.each do |wishlist| %>
            <li class="list-group-item">
                <b><%= wishlist.title %></b><br/>
                <%= wishlist.description %><br/>
                <%= link_to 'Show', wishlist_path(wishlist) %><br/>
                <%= link_to 'edit', edit_wishlist_path(wishlist) %>
            </li>
        <% end %>
        </ul>
    </div>
</div>